<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptoket</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="">
    <!-- footer -->
    <footer>
        <!-- footer main container -->
        <div class="footer-main-container">
            <!-- footer top -->
            <div class="footer-top">
                <!-- footer top 1 -->
                <div class="footer-top-1">
                    <div class="logo-container">
                        <div class="logo">
                            <img src="../assets/images/Ellipse 5.png" alt="">
                        </div>
                        <h3 id="footer-h3">
                            CryptoKet
                        </h3>
                    </div>

                    <h3 >
                       Get the latest Updates
                    </h3>

                    <!-- footer search -->
                    <div class="footer-search-container">
                        <input type="text" placeholder="Your Email" class="footer-search">
                        <button>Email Me!</button>
                    </div>
                </div>
                <!-- footer top 2 -->
                <div class="footer-top-2">
                    <h3>CryptoKet</h3>
                    <h4>Explore</h4>
                    <h4>How it Works</h4>
                    <h4>Contact Us</h4>
                </div>
                <!-- footer top 3 -->
                <div class="footer-top-3">
                    <h3>Support</h3>
                    <h4>Help center</h4>
                    <h4>Terms of service</h4>
                    <h4>Legal</h4>
                    <h4>Privacy policy</h4>
                </div>
            </div>

            <!-- footer down -->
            <div class="footer-down">
                <h3>CrpytoKet, Inc. All Rights Reserved</h3>

                <!-- footer icons -->
                <div class="footer-icons">
                    <i class="ri-instagram-line"></i>
                    <i class="ri-twitter-fill"></i>
                    <i class="ri-telegram-2-fill"></i>
                    <i class="ri-discord-fill"></i>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>