<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptoket</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="">
    <!-- navbar section -->
    <nav>
        <!-- navbar main container -->
        <div class="navbar-main-container">
            <!-- logo container -->
            <div class="logo-container">
                <div class="logo">
                    <img src="../assets/images/Ellipse 5.png" alt="">
                </div>
                <h3>
                    CryptoKet
                </h3>
            </div>

            <!-- hammberger container -->
            <div class="haammberg">
                <i class="ri-menu-line"></i>
            </div>

            <!-- search engine -->
            
            <div class="search-engine-container">
                <i class="ri-search-line"></i>
                <input type="text" placeholder="Search Item Here" class="nav-search">
            </div>

            <!-- nav menu -->
            <div class="nav-menu-container">
                <a href="#">Explore</a>
                <a href="#">My Items</a>
                <a href="#">Following</a>
            </div>

            <!-- nav buttons -->
            <div class="nav-button-container">
                <button class="nav-btn-1">Create</button>
                <!-- <button class="nav-btn-2">Connect</button> -->
                <button class="nav-btn-2">
                    <span class="nav-btn-text">Connect</span>
                </button>
            </div>
        </div>
    </nav>
</body>
</html>